{% extends 'base.html' %}


{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="mx-auto d-block" title="Movie Recommender" src="/static/crousel1.jfif" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
        <h4>We will Recommend you the best movie according to your tastes</h4>
        <p>Rest easy and let us do the browsing, you just watch! </p>
      </div>
{% endblock body %}




