{% extends 'base.html' %}


{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="mx-auto d-block" title="Movie Recommender" src="/static/crousel1.jfif" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
        <h4>We will Recommend you the best movie according to your tastes</h4>
        <p>Rest easy and let us do the browsing, you just watch! </p>
      </div>
            </div>

            <!-- <div class="carousel-item">
                <img class="center ml-2" title="Movie Recommender" src="/static/crousel1.jfif" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="center ml-2" alignment="center" title="Movie Recommender" src="/static/crousel1.jfif" alt="Third slide">
            </div> -->
        </div>
    </div>
<div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox        
        </label>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
                Example checkbox          
        </label><br>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox        
        </label>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
                Example checkbox         
        </label><br>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox           
        </label>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
                Example checkbox          
        </label><br>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        Example checkbox          
        </label>
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
        <p>Example checkbox</p>        
        </label><br>
      </div>

{% endblock body %}




