{% extends 'base.html' %}

{% block title %} Getting Started {% endblock title %}

{% block body %}
<h1>Genres</h1>
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Action</label>
</div>
 
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option2">
  <label class="form-check-label" for="inlineCheckbox1">Adventure</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox3">Animation</label>
</div><br>

<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
  <label class="form-check-label" for="inlineCheckbox4">Comedy</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
  <label class="form-check-label" for="inlineCheckbox5">Crime</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
  <label class="form-check-label" for="inlineCheckbox6">Drama</label>
</div><br>


<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
  <label class="form-check-label" for="inlineCheckbox7">Fantasy</label>
</div>
 
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
  <label class="form-check-label" for="inlineCheckbox8">Historical</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
  <label class="form-check-label" for="inlineCheckbox9">Horror</label>
</div>
<br>

<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
  <label class="form-check-label" for="inlineCheckbox10">Romance</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
  <label class="form-check-label" for="inlineCheckbox11">Sci-Fi</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
  <label class="form-check-label" for="inlineCheckbox12">Tragedy</label>
</div>
<br>

<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
  <label class="form-check-label" for="inlineCheckbox13">Musical</label>
</div>
 
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheoption14" value="option14">
  <label class="form-check-label" for="inlineCheckbox14">Erotic</label>
</div>
  
<div class="form-check- form-check-inline" style="width: 140px">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option15">
  <label class="form-check-label" for="inlineCheckbox15">Thriller</label>
</div>
<br>


<h1>Rating</h1>

<div class="slidecontainer" style= "padding-left: 8px">
<p>Drag the slider to display the rating.</p>

<div class="slidecontainer" style="width: 500px; padding-left: 8px">
<input type="range" min="1" max="10" value="5" class="slider" id="myRange">
<p>Rating: <span id="demo"></span></p>
</div>


{% endblock body %}


{% block style %}


h1{
  padding-left: 6px
}
div.form-check- {
  padding-left: 8px
}

.slidecontainer {
  width: 100%;
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4169E1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4169E1;
  cursor: pointer;
}
{% endblock style %}



{% block script %}
  
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() 
{
  output.innerHTML = this.value;
}

{% endblock script %}

